---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SiteTitle } from '../consts';
const {frontmatter} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{SiteTitle}</title>
	<body>
		<Header />
		<div class="post">
			<div class="version_wrapper">
				<div class="version_info">
					<div class="version_number">{frontmatter.versionNumber}</div>
					<div class="pub_date">{frontmatter.pubDate}</div>
				</div>
			</div>
			<div class="content">
				<slot />
			</div>
		</div>
		<Footer />
	</body>
</html>

