---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {frontmatter} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
        <BaseHead title={frontmatter.title} description={frontmatter.description} />
	<body>
		<div class="glow"></div>
		<Header />
		<div class="post single" transition:persist transition:name="post">
			<div class="version_wrapper">
				<div class="version_info">
					<div class="version_number">{frontmatter.versionNumber}</div>
					<div class="date">{frontmatter.date}</div>
				</div>
			</div>
			<div class="content">
				<slot />
			</div>
		</div>
		<Footer />
	</body>
</html>

